/* Global set */
:root{
--color-white:#ffffff;
--color-light-white:#eeeeee;
--color-dark-white:#bdbdbd;
--color-pink:#fe918d;
--color-dark-pink:#ff6863;
--color-black:#4d4d4d;
--color-dark-grey:#4d4d4d;
--color-grey:#616161;
--color-light-grey:#7c7979;
--color-blue:#73aace;
--color-yellow:#fff7d1;
--color-orange:#feb546;
--color-black:#000000;

/* Font Size */

--font-large:48px;
--font-medinum:28px;
--font-regular:23px;
--font-small:16px;
--font-micro:14px;

/* Font weight */
--weight-bold:700;
--weight-semi-bold:600;
--weight-regular:400;

/* Size */
--size-border-radius:4px;
/* Animation */
--animation-duration:300ms;
}

/* Universal tag */
*{
    box-sizing:border-box;
   
}

body{
    margin:0;
    font-family: 'Open Sans', sans-serif;
    cursor: default;
}
a{
    text-decoration: none;
    color:var(--color-white)
}
ul{
    list-style: none;
    padding-left: 0;
}
button{
    background-color: transparent;
    cursor: pointer;
    border:none;
    outline: none;
}
/* 기본으로생성된 글자 마진,패딩,색,사이즈 처리 */
h1{
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color:var(--color-black);
    margin: 16px 0;
}

h2{
    font-size: var(--font-medinum);
    font-weight: var(--weight-semi-bold);
    color:var(--color-black);
    margin: 8px 0;
}
h3{
    font-size: var(--font-regular);
    font-weight: var(--font-regular);
    color:var(--color-black);
    margin:8px 0;
}

p{
    font-size: var(--font-regular);
    font-weight: var(--font-regular);
    color: var(--color-black);
    margin:4px 0;
}

.arrow-up{
    position: fixed;
    bottom:50px;
    right:50px;
    font-size: 50px;
    background-color: steelblue;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    pointer-events: none; /* 포인터 안보이게가능 */
    transition: all var(--animation-duration) ease-in;
   
}

.arrow-up.visible{
    opacity: 1;
    pointer-events: auto;
}
/* Navbar */
#Navbar{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-pink);
    align-items: center;
    color: var(--color-white);
    padding:16px;
    background-color: transparent;
    transition: all var(--animation-duration) ease-in;
    z-index: 100; /* My work 사진과 겹쳐 nav가 안보이는현상때문에 적용 */
}

#Navbar.navbar--dark{
    background-color: var(--color-pink);
    padding: 8px;
}
.navbar__menu{
    display: flex;
}
.navbar__logo{
    font-size: var(--font-medinum);
    font-weight: var(--weight-semi-bold);
    
}

.navbar__menu__item{
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: var(--size-border-radius);
}

.navbar__menu__item.active{
    border: 1px solid var(--color-white);
   
}
.navbar__menu__item:hover{
    background-color: var(--color-dark-pink);
    
}

/* Home */
#home {  
    padding-top: 100px;
    background: url('image/homebackground.png') center/cover no-repeat;
    padding:40px;
    text-align: center;
    
}




.home_avatar{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border-radius: 2px border var(--color-light-white);
    margin-top: 70px;
}

.home__title,
.home__description{
    color:var(--color-white);
}

.home__contact{
    color: white;
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    margin: 24px;
    padding: 8px 12px;
    border:2px solid var(--color-white);
    border-radius: var(--size-border-radius);
}

/* Section common */
.section{
    padding:50px;
    text-align: center; 
    margin: 0 auto;
 
   
}
.section__container{
    max-width: 1200px; /* 최대로 넓힐수있는 너비 (이것만하면 요소가 움직이지 않으수있는데.
    이럴떈 요소검사로 패딩 마진 확인! */ 
    margin:0 auto;
}

/* About */
.about__majors{
    display: flex;
    justify-content: space-between;
    margin: 80px 0 ;
}

.major__icon{
    width: 170px;
    height: 170px;
    line-height: 170px;
    font-size:70px;
    color: var(--color-blue);
    border:1px solid var(--color-blue);
    border-radius: 50%;
    margin-bottom: 16px;
    margin: 0 auto;

}
.major__icon i{
    transition:all var(--animation-duration) ease; 
}
.major__icon:hover i{
    color: var(--color-pink);
    transform: rotate(-30deg) scale(1.1);
}
.major__title,.major__description{
    color:var(--color-dark-grey);
}

.major__description{
    font-size: var(--font-small);
}

.job{
  
    display: flex;
    align-items: center;
    text-align: center;
}
.certificate{
    display: flex;
    align-items: center;
    text-align: center;
}

.job__description{
    margin : 0 16px;
    text-align: left;
}


.job__name, .job__period{
    color:var(--color-light-grey);
}


.job__certificate{
    font-family: 'Open Sans', sans-serif;
    font-size: var(--font-small);
    font-weight: var(--weight-semi-bold);
    color:var(--color-light-grey);
}

/* skiil */
#skills{
    background-color: var(--color-yellow);/* 양쪽으로 넓힐떄 양쪽에 빈공간이있는이유 아까 위에서
                                            1200px라고 너비를 지정해서 그럼 좀더 세세히 다시정의 하러 가자 */
}

.skillset{
    display: flex;
    background-color: var(--color-light-grey);
    color: var(--color-light-white);
    margin: 20px 0;
}

.skillset__title{
    color: var(--color-white);
}
.skillset__left{
    flex-basis: 60%;
    background-color: var(--color-dark-grey);
    padding: 0px 40px;
}
.skill__description{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    padding: 10px;
    
}

.skill__bar{
    width: 100%;
    height: 3px;
    background-color: var(--color-grey);
}
.skill__value{
    width: 70%;
    height: 3px;
    background-color: var(--color-orange);
}
.skillset__right{
    flex-basis: 40%;
}
.tools{
    background-color: var(--color-grey);
}

.tools,
.etc{
    padding: 20px;
}

/* Work__categories */
.work__categories{
    margin: 40px;
}
.category__btn{
    text-align: center;
    border: 1px solid var(--color-dark-white);
    border-radius: var(--size-border-radius);
    font-size: var(--font-regular);
    padding: 8px 48px;
    margin: 0;
    
}

.category__btn.active,
.category__btn:hover{
    background-color: var(--color-pink);
    color: var(--color-white);
}

.category__count{
    background-color: var(--color-orange);
    border-radius: 50%;
    color: var(--color-white);
    width: 24px;
    height: 24px;
    line-height: 24px;
    display: inline-block;/* 숫자 잘보이게 하려고 span 속성은 꽉꽉채워서 찌부시킬수잇어서 인라인블럭 */
    position: relative;
    top: -20px;
    left: 4px;
    opacity: 0;
    transition: all var(--animation-duration) ease-in;
}

.category__btn:hover .category__count{
    opacity: 10;
    top: 0;
}

.work__projects{
    display: flex;
    flex-wrap: wrap; /* 자리가 꽉차면 자동으로 줄바꿈 */
    justify-content: center;
    opacity: 1;
    transition:all var(--animation-duration) ease-out;
}

.work__projects.anim-out {
    opacity: 0.6;
    transform: scale(0.98) translateY(40px);
}



.project{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 250px;
    margin: 2px;
    background-color: var(--color-light-white);
    
}
.project.invisible{
    display:none;
}

.project__img{
    max-width: 100%;
    max-height: 90%;
}
.project__description{
    position: absolute; /* description의 부모는 project 클래스인데 기본 static이면  position 이라                         body를기준으로 맨위 왼쪽에 붙어있게됨 */
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(10px);/* 위로 올라가는느낌 주자 */
    transition: all 500ms ease-in;
}

.project:hover .project__description{
    opacity: 0.8;
    transform: translateY(0px);
}
.project__description h3{
    color: var(--color-white);
}
.project__description h3:after{
    content: '';
    display: block;
    position: relative;
    left: 50%;
    width: 25px;
    height: 2px;
    background-color: var(--color-dark-white);
}
/* Testimonial */
#testimonials {
    background-color: var(--color-light-white);
    
  }
  
  .testimonials {
    margin: 40px;
  }
  
  .testimonial {
    display: flex;
    margin: 32px 0;
  }
  
  .testimonial__avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  
  .testimonial__avatar:nth-child(odd) {
    margin-right: 40px;
  }
  
  .testimonial__avatar:nth-child(even) {
    margin-left: 40px;
  }
  
  .testimonial__speech-bubble {
    padding: 18px;
    background-color: var(--color-white);
    border-radius: var(--size-border-radius);
  
 
  }
  
  .testimonial__speech-bubble p {
    color: var(--color-light-grey);
  }
  
  .testimonial__speech-bubble a {
    color: var(--color-pink);
  }
  
  .testimonials .testimonial:nth-child(2) img{
      margin-left:40px;
  }

  .testimonials .testimonial:nth-child(1){
    display: flex;
    flex-direction:row  ;
}
  .testimonials .testimonial:nth-child(2){
      display: flex;
      flex-direction:row-reverse  ;
  }


/* Contact */

#contact {
    background-color: var(--color-pink);
}

.contact__title,
.contact__email,
.contact__rights{
    color: var(--color-white);
}
.contact__title{
    margin:32px 0;
}

.contact__links{
    font-size: var(--font-large);
    margin: 24px 0;
    
}
.contact__links i{
    transition: all var(--animation-duration) ease-in;
}
.contact__links i:hover{
    transform: scale(1.1);
    color: var(--color-yellow);
}

.navbar__toggle-btn{
    position:absolute;
    top:24px;
    right:32px;
    font-size: 24px;
    color: var(--color-white);
    display: none; /* 햄버거 버튼을 가리자 평소엔 */
}
@media screen and (max-width:768px){
 .navbar__toggle-btn{
     display: block;
 }
 #Navbar {
     flex-direction: column; /* 중심축을 column 수직으로 해놨으니 */
     align-items: flex-start; /* 반대축은 align-items 로~ */
 }

 .navbar__menu{
     flex-direction: column;
     text-align: center;
     width: 100%; /* 너비 조정을 해줘야 가운데 정렬 */
     display: none; /* 일단 가려놓자 클릭하면 보일수 있도록 */
     
 }

 .about__majors{
     flex-direction: column;
 }

 .major{
     margin-bottom: 30px;
 }

 .skillset{
     flex-direction: column;
 }

 .project{
     flex-grow: 1;/* 화면이작으면 딱맞게커지도록함 */
 }

 .testimonial{
     flex-direction:column;
 }

 .testimonial__speech-bubble p {
    color: var(--color-light-grey);
    word-break:break-all;/* 박스밖으로 나가는 text 안으로넣어준다! */
    
}


}